*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-container{
  height: 90vh;
  margin: 0 auto;
  width: 90%;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1, h2{
  margin-bottom: 24px;
}

p{
  text-align: start;
  font-size: 1.5rem;
}

.ejemplo{
  font-size: 2rem;
  
}

.red{
  color: red;
}
